@use "@angular/material" as mat;

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px !important;
  border-right: 1px solid gray !important;
  // border-radius: 0px!important;
}

.content {
  padding: 16px; /* Ajusta el padding según tus necesidades */
}

.content-container {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.pa-10 {
  padding: 10px;
}

.pa-1r {
  padding: 1rem !important;
}
